@font-face {
    font-family: "Outfit";
    src: url(../fonts/Outfit-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Outfit";
    src: url(../fonts/Outfit-Regular.ttf);
    font-weight: 400;
}